* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: rgb(32, 32, 32);
  padding: 2rem;
  background-color: #fae6e1;
}

body {
  padding: 5rem 0rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}
.navbar {
  width: 60%;
  margin: auto;
  margin-bottom: 3rem;
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.158);
}
.search {
  font-size: 1.4rem;
}

.material-icons {
  vertical-align: bottom;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.material-icons:hover {
  cursor: pointer;
  transition: 250ms;
  background-color: rgba(224, 224, 224, 0.534);
}

.table-container {
  width: 60%;
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 1.2rem 0.1rem rgba(0, 0, 0, 0.233);
}
.table {
  color: rgba(66, 66, 66, 0.938);
  font-size: 1.6rem;
}
.form-control {
  font-size: 1.4rem;
}
/*modal - form-select*/
.form-select {
  display: none;
  font-size: 1.6rem;
}

/* buttons style*/
.btn {
  font-size: 1.6rem;
}
.btn-primary {
  background-color: #2e307a;
  border-color: #2e307a;
  margin: 0.5rem 0rem;
}
.btn-primary:hover {
  background-color: #373a92cb;
}
.btn-danger {
  color: #fff;
  background-color: #eb7a67;
  border-color: #eb7a67;
}
